<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Husnutdinov41Entities" connectionString="metadata=res://*/Husnutdinov41_Model.csdl|res://*/Husnutdinov41_Model.ssdl|res://*/Husnutdinov41_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOTEBOOK;initial catalog=Husnutdinov41;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>